{
  "presets": ["es2015-node6", "stage-0", "bluebird"],
  "plugins": ["transform-runtime", "add-module-exports", "transform-decorators-legacy", "istanbul"],
  "env": {
    "production": {
      "plugins": [
      ]
    }
  }
}
